@{
    ViewBag.Title = "Home Page";
}
@Styles.Render(("~/Content/CustomCss/Index/leftPartialViews/BottomLeftPanel.css"))
@Styles.Render(("~/Content/CustomCss/Index/leftPartialViews/leftTopPanel.css"))

<div class="row">
    <div class="col-md-2" id="IndexLeftSide">
        @Html.Partial("~/Views/Home/Index/Left/_leftTopPanel.cshtml")
        <div class="row">
            <div class="col-md-2">
                @Html.Partial("~/Views/Home/Index/Left/_leftBottomPanel.cshtml")
            </div>

        </div>
    </div>
    <div class="col-md-8">
        <h2>Middle Side</h2>
        @Html.Partial("~/Views/Home/Index/Middle/_GridView.cshtml")
    </div>
    <div class="col-md-2" id="IndexRightSide">
        <h2>Right Side</h2>
        @Html.Partial("~/Views/Home/Index/Right/_RightDetailsPanel.cshtml")
    </div>
</div>